<!-- servicios -->
<div class="container-fluid p-3">
  <div class="row-sm-2 d-flex justify-content-evenly conten-servicios">
    <div class="serP">
      <div
        class="d-flex flex-column justify-content-center servicios text-center"
      >
        <i class="bi bi-laptop-fill"></i>
      </div>
      <p class="text-center"><strong>PÁGINAS WEB</strong></p>
    </div>

    <div class="serP">
      <div
        class="d-flex servicios flex-column justify-content-center servicios text-center"
      >
        <i class="bi bi-phone-fill"></i>
      </div>
      <p class="text-center"><strong>APPS MÓVILES</strong></p>
    </div>

    <div class="serP">
      <div
        class="d-flex servicios flex-column justify-content-center servicios text-center"
      >
        <!-- <i class="bi bi-router-fill"></i> -->
        <i class="bi bi-wifi"></i>
      </div>
      <p class="text-center"><strong>REDES WIFI</strong></p>
    </div>

    <div class="serP">
      <div
        class="d-flex servicios flex-column justify-content-center servicios text-center P-0"
      >
        <i class="bi bi-pc-display-horizontal"></i>
      </div>
      <p class="text-center"><strong>SOPORTE TI</strong></p>
    </div>

    <div class="serP">
      <div
        class="d-flex servicios flex-column justify-content-center servicios text-center"
      >
        <i class="bi bi-webcam-fill"></i>
      </div>
      <p class="text-center"><strong>CCTV</strong></p>
    </div>

    <div class="serP">
      <div
        class="d-flex servicios flex-column justify-content-center servicios text-center"
      >
        <!-- <i class="bi bi-hand-thumbs-up-fill"></i> -->
        <i class="bi bi-person-lines-fill"></i>
      </div>
      <p class="text-center"><strong>ASESORÍA</strong></p>
    </div>
  </div>
</div>





<!-- Carrucel -->
<div
  id="carouselExampleInterval"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img
        src="../../../assets/img-Carrucel/analitica.webp "
        class="d-block img-Carrucel"
        alt="..."
        width="1000px"
        height="600px"
      />
      <div class="carousel-caption d-none d-md-block">
        <h2>Lorem ipsum</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit
          eleifend dui, rutrum pretium velit auctor vel. Quisque vel dolor ut
          eros ullamcorper ultricies. Mauris tincidunt ante id velit sodales, in
          consequat elit tincidunt. Suspendisse tempus, erat efficitur semper
          luctus, neque metus lacinia ligula, vitae tincidunt sem quam a lacus.
          Cras faucibus auctor nibh, vel semper nunc euismod a.
        </p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img
        src="../../../assets/img-Carrucel/union.webp"
        class="d-block img-Carrucel"
        alt="..."
        width="1000px"
        height="600px"
      />
      <div class="carousel-caption d-none d-md-block">
        <h2>Lorem ipsum</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit
          eleifend dui, rutrum pretium velit auctor vel. Quisque vel dolor ut
          eros ullamcorper ultricies. Mauris tincidunt ante id velit sodales, in
          consequat elit tincidunt. Suspendisse tempus, erat efficitur semper
          luctus, neque metus lacinia ligula, vitae tincidunt sem quam a lacus.
          Cras faucibus auctor nibh, vel semper nunc euismod a.
        </p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev button-carrucel"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next button-carrucel"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!-- componente Articulos -->
<app-articulos></app-articulos>

<!-- componente nosotros -->
<app-nosotros></app-nosotros>

<!-- componente proyectos -->
<app-proyectos></app-proyectos>

<!-- componente contacto -->
<app-contacto></app-contacto>
