@import "../../../styles.scss";


.carousel {
  // padding: 0 0.5rem;
  // margin: 0;
  // padding: 0 8rem;
  .img-Carrucel {
    // height: 100vp;
    width: 100vw;
    // background-image: contain;
    // opacity: 0.9;
    margin: 0;
    // border-radius: 5px;
  }
  .carousel-caption {
    background-color: rgba(66, 64, 64, 0.7);
    border-radius: 10px;
  }
}

.servicios {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  color: $claro;
  background: rgb(31, 93, 176);
  background: linear-gradient(
    99deg,
    rgb(88, 91, 91) 70%,
    rgba(143, 155, 167, 0.992) 100%
  );
  // background: linear-gradient(
  //   99deg,
  //   rgba(31, 93, 176, 1) 63%,
  //   rgba(0, 133, 255, 0.9920343137254902) 100%
  // );
  box-shadow: 0.2px 0.2px 2px gray;
  transition: 0.3s;
  margin-top: 1rem;
  margin-bottom: 0.5rem;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .bi {
    font-size: 4.8rem;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  .SOPORTE {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.serP {
  color: gray;
}

@media (max-width: 751px) {
  .conten-servicios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px) {
  .conten-servicios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .servicios {
    font-size: large;
    margin: 0 1.2rem;
    width: 5rem;
    height: 5rem;

    .bi {
      font-size: 3rem;
    }
  }

  .carousel {
    padding: 0;
    margin-bottom: 2rem;

    .img-Carrucel {
      border-radius: 0%;
      height: 18%;
      width: 100%;
    }
  }
}
