<div class="container">
  <h2 class="text-center">Area de contacto</h2>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"
      >Dereccción de correo electronico</label
    >
    <input
      type="email"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="nombre@ejemplo.com"
    />
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Telefono</label>
    <input
      type="number"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="Telefono"
    />
  </div>

  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"
      >Dejanos un mensaje</label
    >
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
    ></textarea>
  </div>
</div>
