
<div class="container-fluid row justify-content-center m-0  my-4">

    <div class="card m-2 col-sm-auto" style="width: 18rem  ">
        <img src="../../../../assets/cards/6531.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card m-2 col-sm-auto" style="width: 18rem;">
        <img src="../../../../assets/cards/5118825.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card m-2 col-sm-auto" style="width: 18rem;">
        <img src="../../../../assets/cards/2347617.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    
      <div class="card m-2 col-sm-auto" style="width: 18rem;">
        <img src="../../../../assets/cards/young-man-looking-fiber-optic-tester-medium-shot-min.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>
