@import "../../../styles.scss";

h2 {
  margin-top: 3rem;
  color: $azulClaro;
}

.container-fluid {
  padding: 1rem 15rem;
}

.card {
  box-shadow: 0.1px 0.1px 2px gray;
  transition: 0.3s;
  &:hover {
    transform: scale(1.1);
    z-index: 1;
  }
  img {
    max-height: 15rem;
  }
}

// ajuste de padding de proyectos, "nota: buscar una mejor solucion"
@media screen and (max-width: 1100px) {
  .container-fluid {
    padding: 1rem 10rem;
  }
}

@media screen and (max-width: 900px) {
  .container-fluid {
    padding: 1rem 5rem;
  }
}
@media screen and (max-width: 800px) {
  .container-fluid {
    padding: 1rem 2.5rem;
  }
}

@media screen and (max-width: 500px) {
  .container-fluid {
    padding: 1rem;
  }
  .card {
    width: 21rem;
    margin: 1rem 1rem 1rem 0;
  }
}
