@import "../../src/styles.scss";

.info{
  background: $azulClaro;
  height: 2.5rem;
  .correo,.tlf{
    text-decoration: none;
    color: $claro;
  }
}

.navbar {
  background-color: $azulPrincipal;
  padding: 0;
  // margin: 1rem 0 0 0 ;
  h3{
    // color: rgb(116, 116, 116);
    color: $azulClaro;
    font-size: 3rem;
  
  }
  h6{
    font-size: 1rem;
    color: $azulClaro;
  }

  .nav-link {
    transition: 0.3s;
    &:hover {
      transform: scale(1.2);
    }
  }
  .iconNavBar {
    font-size: 4rem;
    margin-right: 4px;
    // color: $claro;
    color: $azulClaro;
  }
  .navbar-toggler {
    color: $azulClaro;
    border-color: transparent;
  }

}

.footer {
  color: $claro;
  background-color: $azulOscuro;
  .bi {
    margin-right: 8px;
    font-size: 20px;
    color: $claro;
  }

  .link {
    transition: 0.3s;
    &:hover {
      opacity: 0.7;
      transform: scale(1.5);
      cursor: pointer;
    }
  }
  .autor{
    font-size: small;
  }
}

.router {
  min-height: 100vh;
}

.whatsapp {
  position: fixed;
  background-color: rgb(86, 240, 86);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  bottom: 80px;
  right: 20px;
  z-index: 100;
  display: flex;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  box-shadow: 1px 2px 2px gray;
  .bi-whatsapp {
    color: white;
  }
  &:hover {
    transform: scale(1.1);
    box-shadow: 2.5px 2.5px 5px gray;
    cursor: pointer;
  }
}


@media (min-width:991px){
  .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
 
  }
}

@media (max-width: 991px) {
  .nav-link {
    transition: 0.3s;
    &:hover {
      transform: scale(0.8);
    }
  }
}
