<div class="custom-shape-divider-top-1694106947">
  <svg
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1200 120"
    preserveAspectRatio="none"
  >
    <path
      d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
      class="shape-fill"
    ></path>
  </svg>
</div>

<nav class="navbar bg-body-tertiary m-0">
  <div
    class="container-fluid info d-flex justify-content-evenly align-items-center"
  >
    <div class="correo">
      <i class="bi bi-envelope-fill"></i>
      <a class="correo" href="mailto:afigueredo@minkatec.com.pe">
        Afigueredo@minkatec.com.pe</a
      >
    </div>
    <div class="tlf">
      <i class="bi bi-telephone-forward-fill"></i>
      <a
        class="tlf"
        href="https://api.whatsapp.com/send?phone=51931760528&text=Hola!%20Quiero%20generar%20mas%20ventas!"
      >
        (+51)-931760528</a
      >
    </div>
  </div>
</nav>

<div class="containernav">
  <nav class="navbar navbar-expand-lg">
    <div class="container d-flex justify-content-evenly">
      <i class="bi-pc-display iconNavBar"></i>
      <a
        class="navbar-brand text-light"
        routerLink="/inicio"
        routerLinkActive="active"
        ><h3>MINKATEC</h3></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class=""><i class="bi bi-list"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a
            class="nav-link active text-light"
            id="inicio"
            aria-current="page"
            routerLink="/inicio"
            routerLinkActive="active"
            ><h6>Inicio</h6></a
          >
          <a
            class="nav-link text-light"
            href="#nosotros"
            routerLinkActive="active"
            ><h6>Nosotros</h6></a
          >
          <a
            class="nav-link text-light"
            href="#proyectos"
            routerLinkActive="active"
            ><h6>Proyectos</h6></a
          >
          <a
            class="nav-link text-light"
            routerLink="/contacto"
            routerLinkActive="active"
            ><h6>Contacto</h6></a
          >
        </div>
      </div>
    </div>
  </nav>
</div>

<router-outlet class="router">
  <div class="whatsapp">
    <a
      href="https://api.whatsapp.com/send?phone=51931760528&text=Hola!%20Quiero%20generar%20mas%20ventas!"
      target="_blank"
    >
      <i class="bi-whatsapp"></i
    ></a>
  </div>
</router-outlet>

<!-- Footer -->
<footer
  class="container-fluid footer text-center pt-2 position-relative bottom-0"
>
  <strong>
    <div class="row d-flex align-items-center justify-content-between">
      <div class="col-sm-2 d-flex flex-column">
        <p class="m-0">Contacto</p>
        <div class="d-flex flex-row justify-content-center">
          <a
            href="mailto:afigueredo@minkatec.com.pe"
            class="link"
            title="Correo"
            target="_blank"
            ><i class="bi bi-envelope-at-fill"></i
          ></a>
          <a
            class="link"
            href="https://api.whatsapp.com/send?phone=51931760528&text=Hola!%20Quiero%20generar%20mas%20ventas!"
            target="_blank"
            title="Whatsapp"
          >
            <i class="bi bi-whatsapp whatsappf"></i>
          </a>
          <a
            href="tg://resolve?domain=Alex237823"
            title="Telegrameame"
            class="link"
            target="_blank"
            ><i class="bi bi-telegram"></i
          ></a>
        </div>
      </div>

      <div class="col-sm-2 d-flex flex-column">
        <p class="m-0">Redes Sociales</p>
        <div class="d-flex flex-row justify-content-center">
          <a
            href="https://www.instagram.com/minkatecsac/"
            class="link"
            target="_blank"
            title="Instagram"
            ><i class="bi bi-instagram"></i
          ></a>
          <a
            href="https://www.facebook.com/minkatecsac/"
            class="link"
            target="_blank"
            title="facebook"
            ><i class="bi bi-facebook"></i
          ></a>
          <a href="" class="link" title="TikTok" class="link"
            ><i class="bi bi-tiktok"></i
          ></a>
        </div>
      </div>

      <div class="col-sm-2 d-flex flex-column text-center">
        <div class="d-flex flex-row justify-content-center">
          <a href="#" class="link">
            <i class="bi bi-box-arrow-up text-center ms-2"></i>
          </a>
        </div>
        Subir
      </div>
    </div>
  </strong>
  <p class="autor m-0">
    Copyright&copy; 2023 Soluciones Técnologicas - Todos los derechos
    reservados.
  </p>
</footer>
