<div class="container-fluid  row d-flex justify-content-center aling-items-center " id="nosotros">
  <div class="somos col-md-4  text-center">
    <img src="../../../assets/cards/azul.jpg" alt="">
    <h2>¿Quienes somos?</h2>
    <p>
      Somos una pequeña empresa orientada a la tecnologia informatica, Es
      fundamental para nosotros acompañar a nuestros clientes en el desarrollo y
      ejecucion de sus negocios y proyectos, para que puedan competir con exito
      en sus respectivos sectores.
    </p>
  </div>

  <div class="somos col-md-4  text-center">
    <img src="../../../assets/cards/azul.jpg" alt="">
    <h2>Visión</h2>
    <p>
      Ofrecer servicios de calidad con rapidez de respuesta y proponer
      soluciones a las distintas incidencias que presenten nuestros cientes.
      Generando asi confianza y realciones a largo plazo.
    </p>
  </div>

  <div class="somos col-md-4  text-center">
    <img src="../../../assets/cards/azul.jpg" alt="">
    <h2>Misión</h2>
    <p>Convertirnos e empresa lider del sector tecnologico.</p>
  </div>
</div>
