/* You can add global styles to this file, and also import other style files */
html{
    margin: 0;
    padding: 0;
}

$azulPrincipal: #034078;
$azulOscuro: #0A1128 ;
$azulMarino: #001F54;
$azulClaro: #1282A2 ;
$claro:#FEFCFB 
