/* You can add global styles to this file, and also import other style files */

html,body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    // font-family: 'Tilt Neon', cursive;
    // font-family: 'Lato', sans-serif;
}

// $azulPrincipal2: #034078; 
$azulPrincipal: #FEFCFB; 
$azulOscuro: #0A1128 ;
$azulMarino: #001F54;
$azulClaro: #034078 ;
$azulClaro2: #1282A2 ;
$claro:#FEFCFB 

